@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,800;1,400;1,700&display=swap");

/*    font-family: 'Merriweather', serif;    */
/*Regular 400*/
/*Bold 700 italic*/

/*    font-family: 'Open Sans', sans-serif;    */
/*Regular 400*/
/*Regular 400 italic*/
/*Semi-bold 600*/
/*Bold 700 italic*/
/*Extra-bold 800*/

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #e5f6f6;
}
.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
.header-img {
  width: 100%;
}
.header-text-block {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 17px;
  padding: 50px 30px;
  background-color: #fff;
  line-height: 1.7;
  margin-bottom: 20px;
}
.header-text-block p {
  margin-bottom: 20px;
}
.signature-text {
  color: #023b6b;
  font-size: 18px;
  font-style: italic;
}
.action-plan,
.focus-area {
  color: #d65024;
  font-family: "Merriweather", serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.action-plan-block,
.focus-area-block {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  margin: 0 40px 30px;
  padding: 30px 40px;
}
.paragraph-header {
  font-family: "Open Sans", sans-serif;
  color: #023854;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}
.paragraph-body {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.checkbox-img {
  margin-right: 15px;
}
.checkbox-align {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.line {
  border: 1px solid #f1f2f2;
}
.focus-area-sub-header {
  color: #51c2cb;
  font-size: 25px;
  font-weight: 600;
}
.third-between-lines {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
}
